<%= provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>Thus is the home pafe for the <a href="htps://railstutorial.jp/">Ruby on Rails Tutorial</a>
  </h2>
  <%= link_to "Sing up now!",'users/new', class:"btn btn-lg btn-primary"%>
</div>
<%= link_to image_tag("rails.png", alt:"Rails logo"),'https://rubyonrails.org/'%>
